<!-- Created by Emma Jamieson-Hoare -->


<section class=leaderboard>
    <div class="leaderboard-title">Leaderboard</div>




    <div class="leaderboard-content container" ng-controller="leaderboardController">

        <!-- leaderboard toggle buttons -->
        <div class="switch-leaderboards">
            <div class="col-md-4 input-group" style="float:right">
                      <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Search</button>
                      </span>
                <input type="text" class="form-control" placeholder="Search for..." ng-model="query">
            </div>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th>Rank</th>
                    <th>UserName</th>
                    <th>Score</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="user in worldLeaderboard | filter: query">

                    <td>{{$index + 1}}</td>
                    <td><a ng-href="/{{toUserID}}">{{user.username}}</td>
                    <td>< href="/user/{{user.user_id}}">{{user.username}}</td>

                    <td>{{user.score}}</td>

                </tr>
            </tbody>
        </table>
    </div>
</section>