<!-- Created by Emma Jamieson-Hoare -->


<!-- FIRST LOAD ALL THE USERS INTO LEADERBOARD THEN DO THE QUERY -->

<section class=leaderboard>
    <div class="leaderboard-title">Leaderboard</div>




    <div class="leaderboard-content container" ng-controller="leaderboardController as playerCtrl">

        <!-- leaderboard toggle buttons -->
        <div class="switch-leaderboards">
            <div class="col-md-12 text-center">
                <div class="btn-group">
                    <ul class="nav nav-pills" role="tablist">
                        <li ng-click="mode = 'world'" role="presentation" ng-class="{active: mode == 'world'}"><a href="#" role="tab">World</a></li>
                        <li ng-click="mode = 'friends'" role="presentation" ng-class="{active: mode == 'friends'}"><a href="#" role="tab">Friends</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 input-group" style="float:right">
                      <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Search</button>
                      </span>
                <input type="text" class="form-control" placeholder="Search for..." ng-model="query">
            </div>
        </div>

        <!-- within table form
            <div ng-if="mode == 'world'">

            or

            <div ng-if="mode == 'friends'">

        <!--LeaderBoard Table-->
            <table class="table">
                <thead>
                    <tr>
                        <th>Rank</th>
                        <th>UserName</th>
                        <th>Score</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="player in playerCtrl.players | filter: query">

                        <td>{{player.rank}}</td>

                        <td><a href="/user/" + user_id>{{player.username}}</a></td>

                        <td>{{player.score}}</td>

                    </tr>
                </tbody>
            </table>




    </div>
</section>