
<section class = photo-list>
    <div class="photo-list-title"><h1>Photos</h1> </div>

    <div class="photo-list-content col-md-12" ng-controller="photolistController as photoCtrl" ng-init="photoCtrl.getPhotos()">
        <!--Search bar-->
        <div class="photo-list-buttons">
            <div class="col-md-8">
                <div class="btn-group">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownOrder" data-toggle="dropdown" aria-expanded="true">
                        Order by
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownOrder">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href ng-click="photoCtrl.orderBy('name')">Name</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href ng-click="photoCtrl.orderBy('type')">Type</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href ng-click="photoCtrl.orderBy('distance')">Distance</a></li>
                    </ul>
                </div>
                <div class="btn-group">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownView" data-toggle="dropdown" aria-expanded="true">
                    View
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownView">
                    <li role="presentation"><a role="menuitem" tabindex="-1" href ng-click="photoCtrl.viewBy('list')">List</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="photoCtrl.viewBy('grid')">Grid</a></li>
                </ul>
                </div>
            </div>
            <div class="col-md-4 input-group" style="float:right">
                      <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Search</button>
                      </span>
                <input type="text" class="form-control" placeholder="Search for...">
            </div>
        </div>


        <div class="alert alert-info alert-box" role="alert" ng-hide="photoCtrl.photos.length > 0">
            <div>
                <svg version="1.1" id="loader-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="40px" height="40px" viewBox="0 0 50 50" style="enable-background:new 0 0 50 50;" xml:space="preserve">
              <path fill="#000" d="M25.251,6.461c-10.318,0-18.683,8.365-18.683,18.683h4.068c0-8.071,6.543-14.615,14.615-14.615V6.461z" transform="rotate(272.063 25 25)">
                <animateTransform attributeType="xml" attributeName="transform" type="rotate" from="0 25 25" to="360 25 25" dur="0.6s" repeatCount="indefinite"></animateTransform>
                </path>
            </svg>
            </div>
            Loading Photos...
        </div>

        <!-- Photo Headings-->
        <div class="container-fluid" ng-show="photoCtrl.photos.length > 0">
            <div class="photo-list-photos photo-list-heading">
                <div class="col-sm-4">
                    <label>Photo</label>
                </div>
                <div class="col-sm-1">
                    <label>Name</label>
                </div>
                <div class="col-sm-1">
                    <label>Finds</label>
                </div>
                <div class="col-sm-4">
                    <label>Description</label>
                </div>
                <div class="col-sm-1">
                    <label>Tags</label>
                </div>
                <div class="col-sm-1">
                    <label>User</label>
                </div>
            </div>

            <!-- Photo List-->
            <a ng-href="/photo/{{photo.id}}" class="row photo-list-element" ng-repeat="photo in photoCtrl.photos | orderBy:photoCtrl.orderMode">
                <div class="photo-list-photos">
                    <div class="col-sm-4">
                        <img src="./public/photos/{{photo.url}}" img class="img-responsive" alt="{{photo.name}}">
                    </div>
                    <div class="col-sm-1">
                        {{photo.name}}
                    </div>
                    <div class="col-sm-1">
                        {{photo.finds}}
                    </div>
                    <div class="col-sm-4">
                        {{photo.description}}
                    </div>
                    <div class="col-sm-1">
                        <p ng-repeat="tag in photo.tags">
                            {{tag.name}}
                        </p>
                    </div>
                    <div class="col-sm-1">
                        {{photo.user.username}}
                    </div>
                </div>
            </a>
        </div>
    </div>
</section>
