<!--<header>-->
    <!--<div class="content">-->
        <!--<div class="heading">-->
            <!--<h1>Geogram</h1>-->
        <!--</div>-->
        <!--<div class="center-block" style="width:50%;margin-top: 200px">-->
            <!--<button class="btn btn-primary btn-lg btn-block center-block" ng-click="goTo('login')">Start</button>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="overlay"></div>-->
<!--</header>-->
<section class="main about">
    <div class="step">
        <div class="step-number">

        </div>
        <div class="step-title">
            What is Geotouring?
        </div>
        <div class="step-content">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aperiam, asperiores. Accusamus ad
                aperiam consequatur dolorem eveniet, expedita hic illo, laborum, nesciunt obcaecati optio placeat quis
                quo soluta suscipit unde?
            </p>
        </div>
    </div>
</section>
<section class="main coverFlow">
    <div class="recentPhotos">
        <div class="cover-flow--container" ng-controller="coverFlowController">
            <div class="cover-flow--element" style="{{loadElementStyle($index, index)}}"
                 ng-click="changeIndex($index)" ng-repeat="color in colors">
            </div>
        </div>
    </div>
</section>
