.main {
  height: 100%;
  padding: 5em 10em 0 10em;
  text-align: center;
  background-color: #99FFCC;
  color: #444;
  overflow-x:hidden;
}
.main a {
  color: #666;
  text-decoration: none;
}
.main a:hover {
  color: #222;
}
.main > .step {
  width: 100%;
  padding: 2em 5em 5em 5em;
}
.main > .step > .step-content,
.main > .step > .step-title,
.main > .step > .sub-info {
  padding-top: 30px;
}

.main > .step-content {
  font: 2em/1.5 "Oswald", sans-serif;
}

.main > .step {
  > .step-title {font: 4em/1.5 "Oswald", sans-serif;}
  > .step-content {font: 2em/1.5 "Oswald", sans-serif;}
}

.main > .instructions {
  font: 4em/1.5 "Oswald", sans-serif;
}
.main > .instructions {
  > .first {background: url("about/login.png") center no-repeat;}
  > .second {background: url("about/photos.png") center no-repeat;}
  > .third {background: url("about/game.png") center no-repeat;}
  > .last {background: url("about/last.png") center no-repeat;}
}

.main > .step-instructions > .first,
.main > .step-instructions > .second,
.main > .step-instructions > .third,
.main > .instructions > .first, 
.main > .instructions > .second,
.main > .instructions > .third {
  float: left;
  width: 20%;
  height: 400px;
  margin: 0px 25px;
  font: 2em/1.5 "Oswald", sans-serif;
}
.main > .step-instructions > .last,
.main > .instructions > .last {
  float: left;
  width: 20%;
  height: 400px;
  font: 2em/1.5 "Oswald", sans-serif;
  margin: 0px 0px 0px 25px;
}

@media only screen and (max-device-width: 800px) {
  .main {
    padding: 5em 2em 0 2em;
  }

  .main > .step {
    padding: 2em 2em 2em 2em;
  }
}
