.main {
//  height: 100%;
  padding: 5em 10em 0 10em;
  text-align: center;
  background-color: #99FFCC;
  color: #444;
  overflow-x:hidden;
}
.main a {
  color: #666;
  text-decoration: none;
}
.main a:hover {
  color: #222;
}
.main > .step {
  width: 100%;
  padding: 2em 5em 5em 5em;
}

.main > .step-content {
  font: 2em/1.5 "Oswald", sans-serif;
}

.main > .step {
  > .step-title {font: 4em/1.5 "Oswald", sans-serif;padding-top: 30px;}
  > .step-content {font: 2em/1.5 "Oswald", sans-serif;padding-top: 30px;}
}

.main > .instructions {
  font: 4em/1.5 "Oswald", sans-serif;
}
.main > .instructions > .col-md-3 {
  > .first {background: url("about/login.png") center no-repeat;height: 400px;}
  > .second {background: url("about/photos.png") center no-repeat;height: 400px;}
  > .third {background: url("about/game.png") center no-repeat;height: 400px;}
  > .last {background: url("about/last.png") center no-repeat;height: 400px;}
}
.main > .step-instructions > .col-md-3 {
  font: 2em/1.5 "Oswald", sans-serif;
}

@media only screen and (max-device-width: 800px) {
  .main {
    padding: 5em 2em 0 2em;
  }

  .main > .step {
    padding: 2em 2em 2em 2em;
  }
}
