<div class="alert alert-danger alert-box" role="alert" ng-show="errorContains('unknownPhotoId')">
    {{ displayError('unknownPhotoId') }}
</div>

<section class="photo-description" ng-hide="errorContains('unknownPhotoId')" ng-init="getPhoto()">
    <loading-box text="'Loading Photo...'" ng-hide="photo.id"></loading-box>

    <div ng-show="photo.id">
        <div class="photo-description--title">
            <h1>{{ photo.name }}</h1>
        </div>

        <div class="photo-description--content col-md-10 col-md-offset-1">
            <div class="col-md-5" style="text-align: center;">
                <div class="photo-description--finds"><strong>{{ photo.finds.length }}</strong> Finds</div>
                <img class="photo-description--photo" src="{{ getPhotoUrl(photo.url) }}" ng-click="viewPhoto()"/>
                <div class="alert alert-danger alert-box" role="alert" ng-show="userCannotLike()">
                    To like or dislike please <a href="/login">Log In</a> or <a href="/register">Register</a>.
                </div>
                <div class="photo-description--like-dislike">
                    <button class="btn" ng-class="{'btn-success' : userHasLiked, 'btn-default' : !userHasLiked}" ng-click="addLike()"><span class="like-icon"></span><span>{{ photoLikes }}</span></button>
                    <button class="btn" ng-class="{'btn-danger' : userHasDisliked, 'btn-default' : !userHasDisliked}" ng-click="addDislike()"><span class="dislike-icon"></span><span>{{ photoDislikes }}</span></button>
                </div>
                <div class="play-button">
                    <button class="btn btn-success" ng-click="goTo('.game')">Play</button>
                </div>
                <div class="showDescription-button">
                    <button class="btn btn-default" ng-click="showDescription()">Show Description/Comments/Tags</button>
                </div>
            </div>
            <div class="col-md-7 furtherDescription">
                <div class="photo-description--description">
                    <h4>Description</h4>
                    <div>
                        {{ photo.description }}
                    </div>
                </div>
                <div class="photo-description--comments">
                    <h4>Comments ({{ photo.comments.length }})</h4>
                    <div class="comment" ng-repeat="comment in photo.comments">
                        <div class="comment-delete" ng-show="doesCommentBelongToUser(comment.user_id)">
                            <div class="glyphicon glyphicon-remove" ng-click="deleteComment(comment)"> </div>
                            <!--<span class="glyphicon glyphicon-edit"> </span>-->
                        </div>
                        <div>
                            <span class="comment-name"> {{ comment.username }} </span> <span class="comment-datetime"> {{ parseDate(comment.date_posted) }} </span>
                        </div>
                        <div class="comment-content">
                            {{ comment.text }}
                        </div>
                    </div>
                    <div class="alert alert-danger alert-box" role="alert" ng-hide="userData.logged_in">
                        If you would like to share your thoughts on {{ photo.name }}, please <a href="/login">Log In</a> or <a href="/register">Register</a>.
                    </div>
                    <div class="comment-form" ng-show="userData.logged_in">
                        <form class="form" ng-submit="submitComment(comment_text)">
                            <textarea ng-model="comment_text" class="form-control" placeholder="Share your thoughts on this location..."></textarea>
                            <div class="comment-form--share"><input type="checkbox"> Share on Facebook</div>
                            <button class="comment-form--post btn btn-primary" type="submit">Post</button>
                        </form>
                    </div>
                </div>
                <div class="photo-description--tags" ng-show="photo.tags.length > 0">
                    <span class="tag-title">Tags:</span>
                    <span ng-repeat="tag in photo.tags">
                       <a class="tag" ng-href="{{ tag.url }}">{{ tag.name }}</a>
                    </span>
                </div>
            </div>
            <div class="photo-description--userPost">
                Posted on: <b>{{ parseDate(photo.date_posted) }}</b> by <b>{{ photo.user.username }}</b>
            </div>
        </div>

        <!-- Photo Modal -->
        <div class="modal fade" id="viewPhoto" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-body">
                        <img src="{{ getPhotoUrl(photo.url) }}" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="game" ng-show="photo.id">
    <section ng-hide="errorContains('unknownPhotoId')">
        <button class="btn btn-primary game--photoDescButton" ng-click="goTo('body')">Back to Photo Description</button>
        <div class="alert alert-danger alert-box" role="alert" ng-show="errorContains('navigatorError')">
            {{ displayError('navigatorError') }}
        </div>
        <loading-box text="'Loading Map...'" ng-hide="photoLoaded || errorContains('navigatorError')"></loading-box>
        <div class="game--content col-md-10 col-md-offset-1" ng-show="photoLoaded">
            <div class="row">
                <div class="col-md-4">
                    <div class="game--element">
                        <img class="photo-description--photo" src="{{ getPhotoUrl(photo.url) }}" ng-click="viewPhoto()"/>
                    </div>

                </div>
                <div class="col-md-4">
                    <div class="game--element">
                        <loading-box text="'Loading Hints...'" ng-if="!position.distance && !position.direction"></loading-box>
                        <div ng-if="position.distance && position.direction">
                            <div><strong>{{ position.distance.toFixed(2) }}km</strong> away</div>
                            <div><strong>{{ position.direction }}</strong> of your position</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="alert alert-danger alert-box" role="alert" ng-hide="isOrientationCapable">
                        Sorry, your device does not have orientation capabilities (probably because you are on a
                        computer, not a mobile device). In order to play the game with full functionality, please
                        use an orientation capable device (e.g. your mobile).
                    </div>
                    <div ng-show="isOrientationCapable">
                        <div class="alert alert-info alert-box" role="alert" ng-show="userHasFound">
                            You have already found this photo!<br/>
                            <a href="./photolist">Back to the photo list.</a>
                        </div>
                        <div ng-hide="userHasFound">
                            <div class="alert alert-danger alert-box" role="alert" ng-hide="userData.logged_in">
                                Please <a href="/login">Log In</a> or <a href="/register">Register</a> before you can find the photo.
                            </div>
                            <button id="game--foundButton" class="file-input btn btn-success btn-file"
                                    ng-if="!foundPhotoLoaded && userData.logged_in && (userData.user_id != photo.user.user_id)">
                                I Found It!<input type="file" accept="image/*" capture="camera"/>
                            </button>
                            <loading-box text="'Confirming...'" ng-if="photoTaken && !foundPhotoLoaded"></loading-box>
                            <div class="alert alert-info alert-box" role="alert" ng-if="foundPhotoLoaded && photoFound">
                                You found the photo! Congratulations!<br/>
                                You have earnt <strong>10</strong> points.<br/>
                                <a href="./photolist">Back to the photo list.</a>
                            </div>
                            <div class="alert alert-danger alert-box" role="alert" ng-if="foundPhotoLoaded && !photoFound">
                                Ahh! It seems the photo is not located at this position!<br/>
                                <a href="#" ng-click="tryAgain()">Try again</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-md-offset-4 text-center">
                    <div class="btn-group game--element">
                        <ul class="nav nav-pills" role="tablist">
                            <li ng-click="changeMapCenter('userLocation')" role="presentation" ng-class="{active: centerType === 'userLocation'}"><a href="#" role="tab">Your Position</a></li>
                            <li ng-click="changeMapCenter('photoLocation')" role="presentation" ng-class="{active: centerType === 'photoLocation'}"><a href="#" role="tab">Photo Location</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <ui-gmap-google-map center='map.center' zoom='map.zoom' options='map.options'>
                        <ui-gmap-circle center="photoRadius.center"
                                        radius="photoRadius.radius" stroke="photoRadius.stroke"
                                        fill="photoRadius.fill">
                        </ui-gmap-circle>
                        <ui-gmap-marker idKey="photo.id" coords="position.coords">
                            <ui-gmap-window show="true">
                                Your Position
                            </ui-gmap-window>
                        </ui-gmap-marker>
                    </ui-gmap-google-map>
                </div>
            </div>
        </div>
    </section>
</div>