<section class="photo-description">

    <div class="photo-description--title">
        <h1>{{ photo.name }}</h1>
    </div>

    <div class="photo-description--content">
            <div class="col-md-5" style="text-align: center;">
                <div>{{ photo.finds }} Finds</div>
                <img class="photo-description--photo" src="./public/photos/flinders.jpg" />
                <div>{{ photo.likes }} likes {{photo.dislikes}} dislikes</div>
                <div class="share-button">
                    <button class="btn btn-default">Share</button>
                </div>
                <div class="play-button">
                    <button class="btn btn-success">Play</button>
                </div>
            </div>
            <div class="col-md-7">
                <div class="photo-description--description">
                    <h4>Description</h4>
                    <div>
                       {{ photo.description }}
                    </div>
                </div>
                <div class="photo-description--comments">
                    <h4>Comments ({{ photo.comments.length }})</h4>
                    <div class="comment" ng-repeat="comment in photo.comments">
                        <div>
                            <span class="comment-name"> {{ comment.name }} </span> <span class="comment-datetime"> {{ comment.date_posted }} </span>
                        </div>
                        <div class="comment-content">
                            {{ comment.post }}
                        </div>
                    </div>
                    <div class="comment-form">
                        <form class="form">
                            <textarea class="form-control" placeholder="Share your thoughts on this location..."></textarea>
                            <div class="comment-form--share"><input type="checkbox"> Share on Facebook</div>
                            <button class="comment-form--post btn btn-primary" type="submit">Post</button>
                        </form>
                    </div>
                </div>
                <div class="photo-description--tags">
                    <span class="tag-title">Tags:</span>
                    <span ng-repeat="tag in photo.tags">
                       <a class="tag" ng-href="{{ tag.url }}">{{ tag.name }}</a>
                    </span>
                </div>
            </div>
            <div class="photo-description--userPost">
                Posted on: <b>{{ photo.date_posted }}</b> by <b>{{ photo.user.name }}</b>
            </div>
    </div>
</section>

<section class="game">
    <div class="game--content">
        <div class="game--navHelper">
            <div class="game--arrow">

            </div>
            <div>5.3km away<br/>South of your position</div>
        </div>
        <ui-gmap-google-map center='map.center' zoom='map.zoom'>
            <ui-gmap-marker idKey="photo.id" coords="photo.location.coords">
                <ui-gmap-window show="true">
                    Your Position
                </ui-gmap-window>
            </ui-gmap-marker>
        </ui-gmap-google-map>
    </div>
</section>