// This is so fucking messy lol

.photo-description,
.game {
  width: 100%;
  height: 100%;
  positiion: relative;
  padding-top: 2em;
}

.photo-description {
  background-color: #e4e4e4;
}

.game {
  background-color: #95D7F9;
}

.photo-description--title {
  text-align: center;
  margin-bottom: 40px;
}

.photo-description--content,
.game--content{
  display: table;
  border-radius: 10px;
  padding: 20px;
  background-color: rgb(250, 250, 250);
  border: rgb(200, 200, 200) 1px solid;
}

.photo-description--finds {
  font-size: 25px;
  padding-bottom: 20px;
}

.photo-description--finds > strong {
  color: rgb(57, 96, 179);
}

.photo-description--photo {
  width: 100%;
  height: auto;
  cursor: pointer;
}

.modal-body img {
  width: 100%;
  height: auto;
}

.photo-description--comments {
  padding-bottom: 20px;
}

.photo-description--tags,
.photo-description--userPost{
  padding-top: 20px;
  float: right;
}

.share-button {
  padding-top: 5px;
  text-align: center;
}

.share-button > button {
  width: 150px;
  height: 50px;
}

.play-button,
.showDescription-button{
  margin-top: 5px;
  text-align: center;
}

.play-button > button {
  width: 305px;
  height: 70px;
}

.tag-title {
  font-weight: bold;
}

.tag {
  background-color: white;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  border: rgb(197, 197, 197) 1px solid;
  cursor: pointer;
}

.tag:hover {
  background-color: #ECECEC;
}

.comment {
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 10px;
}

.comment-name {
  font-weight: bold;
}

.comment-content {
  padding-left: 5%;
}

.comment-datetime {
  float:right;
}

.comment-form {
  height: 100px;
  padding-top: 15px;
}

.comment-form--share {
  float: left;
  margin-top: 15px;
  margin-left: 20px;
}

.comment-form--post {
  float: right;
  margin-right: 20px;
  margin-top: 10px;
}

.photo-description--like-dislike {
  padding-top: 10px;
}

.photo-description--like-dislike > button {
  height: 40px;
}

.like-icon {
  background: url("game/like.svg");
}

.dislike-icon {
  background: url("game/dislike.svg");
}

.like-icon,
.dislike-icon {
  display: inline-block;
  margin-right: 10px;
  background-size: 20px 20px;
  width: 20px;
  height: 20px;
}

.game--content {
  margin-top: 20px;
}

.game--navHelper {
  background-color: rgb(223, 223, 223);
  width: 200px;
  height: 200px;
  border: 1px rgb(189, 189, 189) solid;
  margin: auto;
  text-align: center;
  border-radius: 20px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 20px;
}

.game--arrow {
  background: url("game/arrow.png");
  background-size: 100px 100px;
  width: 100px;
  height: 100px;
  margin: 20px auto;
}

.game--photoDescButton {
  display: table;
  margin: auto;
}

.showDescription-button {
  display: none;
}

.angular-google-map-container { height: 400px; }

.alert-box {
  width: 300px;
  margin: 20px auto;
  text-align: center;
}

@media only screen and (max-device-width: 1200px) {
  .play-button > button {
    width: 100%;
  }
}

@media only screen and (max-device-width: 800px) {
  h1 {
    font-size: 20px;
  }

  .photo-description--title {
    margin-bottom: 0px;
  }

  .site {
//    height: auto;
  }

  .photo-description{
    height: 100% !important;
    padding-top: 1px;
  }

  .game--content {
    width: 100% !important;
  }

  .game {
    padding: 20px 0 0 0;
  }

  .photo-description,
  .photo-description--content,
  .photo-description--photo{
    width: 100%;
  }

  .furtherDescription {
    display: none;
  }

  .showDescription-button {
    display: block;
  }
}