<div class="center-block panel panel-default" style="width: 50%;margin-top: 50px">
    <div class="panel-heading">
        <h1>{{username}}</h1>
    </div>

    <div class="panel-body">

        <h2>Stats</h2>
        <table class="table">
            <tr>
                <td>User ID:</td>
                <td>{{user_id}}</td>
            </tr>
            <tr>
                <td>Email Address:</td>
                <td>{{email}}</td>
            </tr>
        </table>

        <h2>Photos</h2>
        <table class="table">
            <tr>
                <td>Photo</td>
                <td>Total Finds</td>
                <td>Total Likes</td>
                <td>Total Dislikes</td>
            </tr>
            <tr ng-repeat="photo in photos">
                <td><img src="{{photo.image_path}}" class="user-photo"></td>
                <td>{{photo.num_finds}}</td>
                <td>{{photo.likes}}</td>
                <td>{{photo.dislikes}}</td>
            </tr>
        </table>

        <h2>Finds</h2>
        <table class="table">
            <tr>
                <td>Photo</td>
                <td>Date Found</td>
                <td>Time Taken</td>
                <td>Points</td>
            </tr>
            <tr ng-repeat="find in finds">
                <td><img src="{{find.image_path}}" class="user-photo"></td>
                <td>{{find.date}}</td>
                <td>{{find.time_elapsed}}</td>
                <td>{{find.points}}</td>
            </tr>
        </table>
    </div>
</div>