<div class="container col-md-offset-3 col-md-6">

    <loading-box text="'Loading User...'" ng-hide="hasLoaded"></loading-box>

    <div ng-show="hasLoaded && !user_id" class="panel panel-danger" style="margin-top: 50px">
        <div class="panel-heading">
            <h1>Error</h1>
        </div>
        <div class="panel-body">
            User does not exist
        </div>
    </div>

    <div ng-show="hasLoaded && user_id" class="center-block panel panel-primary" style="margin-top: 50px">
        <div class="panel-heading">
            <h1>{{username}}</h1>
        </div>
        <div class="panel-body">

            <h2>Stats</h2>
            <table class="table">
                <tr>
                    <td>User ID:</td>
                    <td>{{user_id}}</td>
                </tr>
                <tr>
                    <td>Email Address:</td>
                    <td>{{email}}</td>
                </tr>
            </table>

            <h2>Photos</h2>

            <loading-box text="'Loading Taken Photos...'" ng-hide="loadedPhotos"></loading-box>
            <div ng-repeat="photo in photos">
                <div class="row vertical-align-flex">
                    <div class="col-xs-6">
                        <img src="{{photo.image_path}}" class="user-photo img-thumbnail">
                    </div>
                    <div class="col-xs-2">
                        {{photo.num_finds}} <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    </div>
                    <div class="col-xs-2">
                        {{photo.likes}} <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                    </div>
                    <div class="col-xs-2">
                        {{photo.dislikes}} <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
                    </div>
                </div>
                <hr>
            </div>

            <h2>Finds</h2>

            <loading-box text="'Loading Found Photos...'" ng-hide="loadedFinds"></loading-box>
            <div ng-repeat="photo in finds">
                <div class="row vertical-align-flex">
                    <div class="col-xs-6">
                        <img src="{{photo.image_path}}" class="user-photo img-thumbnail">
                    </div>
                    <div class="col-xs-2">
                        {{photo.num_finds}} <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    </div>
                    <div class="col-xs-2">
                        {{photo.likes}} <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                    </div>
                    <div class="col-xs-2">
                        {{photo.dislikes}} <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
                    </div>
                </div>
                <hr>
            </div>
            <!--<table class="table-centered table table-striped">-->
                <!--<tr>-->
                    <!--<td>Photo</td>-->
                    <!--<td>Total Finds</td>-->
                    <!--<td>Total Likes</td>-->
                    <!--<td>Total Dislikes</td>-->
                <!--</tr>-->
                <!--<tr ng-repeat="photo in photos">-->
                    <!--<td><img src="{{photo.image_path}}" class="user-photo img-thumbnail"></td>-->
                    <!--<td>{{photo.num_finds}} <span class="glyphicon glyphicon-search" aria-hidden="true"></span></td>-->
                    <!--<td>{{photo.likes}} <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span></td>-->
                    <!--<td>{{photo.dislikes}} <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span></td>-->
                <!--</tr>-->
            <!--</table>-->

            <!--<h2>Finds</h2>-->
            <!--<table class="table">-->
                <!--<tr>-->
                    <!--<td>Photo</td>-->
                    <!--<td>Date Found</td>-->
                    <!--<td>Time Taken</td>-->
                    <!--<td>Points</td>-->
                <!--</tr>-->
                <!--<tr ng-repeat="find in finds">-->
                    <!--<td><img src="{{find.image_path}}" class="user-photo"></td>-->
                    <!--<td>{{find.date}}</td>-->
                    <!--<td>{{find.time_elapsed}}</td>-->
                    <!--<td>{{find.points}}</td>-->
                <!--</tr>-->
            <!--</table>-->
        </div>
    </div>
</div>