<div ng-controller="photoCaptureController">
    <div class="container col-md-offset-3 col-md-6">
        <div class="center-block panel panel-default" style="margin-top:50px">
            <div class="panel-heading">
                <h1>Photo Submission</h1>
            </div>
            <div class="panel-body">
                <form class="photo-form">
                    <div class="form-group" ng-class="{'has-error' : fillMessages['file'] || fillMessages['fileType']}">
                        <label for="photoInputField">Photo:</label>
                        <span ng-show="fillMessages['file']" class="help-block h">Please include a photo.</span>
                        <span ng-show="fillMessages['fileType']" class="help-block h">Error, incorrect file format.</span>
                        <!-- there is currently no support for bindings with file input tags-->
                        <input type="file" id="photoInputField" ng-model="form.photo" accept="image" onchange="angular.element(this).scope().updatePositionToSend()">
                    </div>
                    <div class="form-group" ng-class="{'has-error' : fillMessages['name']}">
                        <label for="nameInputField">Name:</label>
                        <span ng-show="fillMessages['name']" class="help-block h">Please include a name.</span>
                        <input type="text" class="form-control" id="nameInputField" ng-model="form.name" placeholder="A name for your photo...">
                    </div>
                    <div class="form-group">
                        <label for="descriptionInputField">Description:</label>
                        <input type="textarea" class="form-control" id="descriptionInputField" ng-model="form.description" placeholder="brief description for the photo...">
                    </div>
                    <div class="form-group">
                        <label for="hintInputField">Hint:</label>
                        <input type="text" class="form-control" id="hintInputField" ng-model="form.hint" placeholder="A hint for the photo...">
                    </div>
                    <div class="form-group">
                        <label for="tagsInputField">Tags:</label>
                        <tags-input min-length="1" id="tagsInputField" ng-model="form.tags"></tags-input>
                    </div>
                    <div class="form-group" ng-class="{'has-error' : fillMessages['locationSupport'] || fillMessages['locationAvailable']}">
                        <span ng-show="fillMessages['locationSupport']" class="help-block h">Location services not supported by your device.</span>
                        <span ng-show="fillMessages['locationAvailable']" class="help-block h">Cannot access your location, please allow if disabled.</span>
                        position: ({{position.coords.latitude}}, {{position.coords.longitude}})
                    </div>
                    <div class="form-group">
                        <loading-box text="'Uploading Photo...'" ng-show="uploading"></loading-box>
                        <input class="btn btn-primary center-block" type="button" value="Submit" ng-hide="uploading" ng-click="submit(isValid())">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>