
<section class="dashboard" ng-controller="dashboardController as dashCtrl">
        <div class="col-md-3" ng-controller="leaderboardController as leaderboardCtrl">
            <div class="dashboard-sidebar">
                <h4><a ng-click="dashCtrl.showLeaderboard()" style="cursor:pointer;">Leaderboard</a></h4>
                <table class="table">
                        <thead>
                            <tr>
                                <th>Rank</th>
                                <th>User</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="user in worldLeaderboard | limitTo:10">
                                <td>{{$index + 1}}</td>
                                <td>{{user.username}}</td>
                            </tr>
                        </tbody>

                    </table>
                </div>
        </div>

        <div class="col-md-9">
            <div class="dashboard-content">

                <loading-box text="'Loading Photos...'" ng-hide="trendingPhotos.length>0"></loading-box>

                <div class="col-lg-3 col-md-4 col-xs-6 thumb" ng-repeat="element in trendingPhotos" style="cursor: pointer;">
                    <a class="thumbnail" ng-click="dashCtrl.showPhoto(element.photo.id)">
                        <img class="img-responsive" src="{{ getPhotoUrl(element.photo.url) }}" alt="{{element.photo.name}}">
                    </a>
                </div>
            </div>
        </div>
</section>